navbar {
  color: blue;
}

.items {
  display: flex;
  padding: 20px;
}

.chart {
  flex: 1;
  width: 600px;
  height: 600px;
  margin-left: 300px;
  background: #fff;
}

.editor {
  flex: 1;
}

VictoryChart {
  background: blue;
}

.problem {
  margin-top: 0;
  position: relative;
}

button:hover {
  background-color: bisque;
}

